/*header*/
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
  

/* Gallery*/

.body{
  margin: 0px;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



img {
  width: 350px;
  height: 200px;
  margin: 10px;
  transition: all 1s;

}

img:hover {
  transform: scale(1.1);
}

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.btn-explore {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn-explore:hover {
    background-color: #008CBA;
    color: white;
}


#trend{
  padding:50px 0 100px;
  background:#e8e8e8;
}
#trend h3{
  text-align:center;
  font-size:30px;
  line-height:50px;
  color:#000;
}
#trend img{
  margin:10px auto 40px;
  display:block;
}

#trend h5{
  color:#000000;
}
# p{
  margin:20px 0 10px;
}



/*------CONTACT US------*/  
#ft_contact{
  padding:50px 0 100px;
  background:#e8e8e8;
}
#ft_contact h3{
  text-align:center;
  font-size:30px;
  line-height:50px;
  color:#000;
}
#ft_contact img{
  margin:10px auto 40px;
  display:block;
}
form input[type="text"]{
  width:100%;
  height:42px;
  border:none;
  border-radius:10px;
  padding:0 0 0 10px;
  margin-bottom:14px;
}
form input[type="text"]:focus{
  border:1px solid #0c93cb;
  box-shadow: inset 0 1px 1px rgba(255, 89, 89, 0.075),0 0 8px; 
}
form input[type="email"]{
  width:100%;
  height:42px;
  border:none;
  border-radius:10px;
  padding:0 0 0 10px;
  margin-bottom:14px;
}
form input[type="email"]:focus{
  border:1px solid #0c93cb;
  box-shadow: inset 0 1px 1px rgba(255, 89, 89, 0.075),0 0 8px; 
}
form textarea{
  width:100%;
  height:170px;
  border:none;
  border-radius:10px;
  padding:10px 0 0 10px;
}
form textarea:focus{
  border:1px solid #0c93cb;
  box-shadow: inset 0 1px 1px rgba(255, 89, 89, 0.075),0 0 8px;
}
::-webkit-input-placeholder {
    color:#000000;
    font-weight:400;
}

:-moz-placeholder { /* Firefox 18- */
    color:#000000;  
  font-weight:400;
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#000000; 
  font-weight:400;
}

:-ms-input-placeholder {  
    color:#000000; 
  font-weight:400; 
}
#ft_contact h5{
  color:#000000;
}
#ft_contact p{
  margin:20px 0 10px;
}
.ft_contactright{
  position:relative;
}
.ft_contactright span{
  display:block;
  margin-bottom:10px;
  font-weight:700;
}
.ft_contactright span a{
  color:#000000;
  margin-bottom:35px;
  display:block;
}
.ft_contactright span i{
  margin-right:10px;
  font-size:18px;
}
.ft_contactright img{
  position:absolute;
  top:0;
  right:45%;
}
.ft_contactright a.ft_send{
  color:#ffffff;
  font-size:18px;
  line-height:24px;
  background:#0c93cb;
  font-family: 'Droid Sans', sans-serif;
  font-weight:700;
  text-transform:uppercase;
  padding:7px 25px 10px; 
  border-radius:10px;
  border:3px solid #0c93cb;
  margin-right:10px;
}
.ft_contactright a.ft_send:hover{
  background:none;
  border:3px solid #0c93cb;
  transition:all 0.5s;
  color:#0c93cb;
}
.ft_contactright a.ft_map{
  color:#0c93cb;
  font-size:18px;
  line-height:24px;
  background:none;
  font-family: 'Droid Sans', sans-serif;
  font-weight:700;
  text-transform:uppercase;
  padding:7px 25px 10px; 
  border-radius:10px;
  border:3px solid #0c93cb;
}
.ft_contactright a.ft_map:hover{
  background:#0c93cb;
  border:3px solid #0c93cb;
  transition:all 0.5s;
  color:#ffffff;
}

.ft_linewidth {
  width: 370px;
  height: 7px;
}